html {
  font-family: 'Abel', sans-serif;
}

h3 {
  font-family: 'Archivo Narrow', sans-serif;
}

img {
  width: 100%;
}

/* banner stuff */

.banner-lion {
  background:
    linear-gradient(to top, rgba(189, 156, 66, .7), rgba(16, 52, 41, 0)) no-repeat center bottom / 100% 100%,
    url("../images/banner-lion.jpg") no-repeat center top / cover;
    height: 25em;
}

.banner-content {
  width: 16em;
  bottom: 10%;
  right: 10%;
  margin-left: 15px;
}

.banner-content p {
  color: #fff;
}

.btn-ghost {
  transition: all 300ms linear;
  border-radius: 0;
  border: none;
  background-color: none;
  background-color: rgba(189, 156, 66, .7)
}

/* navigation stuff */

nav li {
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear;
}

ol li {
  padding: 0;
}

.btn-nav {
  color: gray;
  border: none;
  text-decoration: none;
}

nav li a {
  display: block;
  transition: all 300ms linear;
}

nav li:hover {
  background-color: gray;
}

nav li:active {
  background-color: #5d5f63;
}

nav li .btn-nav:hover {
  color: #fff;
}

.logo-container {
  text-align: center;
}

.current {
  background-color: #5d5f63;
  color: #fff;
}

/* icon stuff */

.info-p {
  border-bottom: 1px solid rgba(189, 156, 66, .7);
}

.icon-saver {
  animation: scale 1.5s ease alternate infinite;
}

@keyframes scale {

  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }

}

.icon-steth {
  animation: scale-2 1.5s 0.5s ease alternate infinite;
}

@keyframes scale-2 {

  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }

}

.icon-heart {
  animation: scale-3 1.5s 1s ease alternate infinite;
}

@keyframes scale-3 {

  0% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }

}

/* card stuff */

.main-card {
  transition: all 250ms ease;
  overflow: hidden;
}

.main-card:hover {
  transform: scale(1.05);
  z-index: 2;
}

.main-card-content {
  opacity: 0;
  transition: all 250ms ease;
  height: 100%;
  width: 100%;
  padding: 1em;
  background:
    linear-gradient(to bottom, rgba(189, 156, 66, .9), rgba(16, 52, 41, 0)) no-repeat center bottom / 100% 100%;
    color: #fff;
}

.main-card-content:hover {
  opacity: 1;
}

.card-img {
  z-index: -5;
}

/* adopt page stuff */

.banner-bear {
  background:
    linear-gradient(to top, rgba(189, 156, 66, .7), rgba(16, 52, 41, 0)) no-repeat center bottom / 100% 100%,
    url("../images/banner-bear.jpg") no-repeat center top / cover;
    height: 25em;
}

/* form stuff */

input[type="radio"]:checked + label {
  color: rgba(189, 156, 66);
}

.form-item {
  border: .5px solid #5d5f63;
  background-color: rgba(189, 156, 66, .1);
  height: 3em;
}

.radio-btn {
  transition: all 250ms ease;
}

.radio-btn:hover {
  color: rgba(189, 156, 66);
}

/* rescues page stuff */

.banner-deer {
  background:
    linear-gradient(to top, rgba(189, 156, 66, .7), rgba(16, 52, 41, 0)) no-repeat center bottom / 100% 100%,
    url("../images/banner-deer.jpg") no-repeat center top / cover;
    height: 25em;
}

/* media screen stuff */

@media only screen and (min-width: 25em) {

  .logo-container {
    text-align: left;
  }

  .banner-content {
    width: auto;
    max-width: 25em;
  }

}

@media only screen and (min-width: 38em) {

  nav {
    text-align: right;
  }

}

@media only screen and (min-width: 100em) {

  .banner-content {
    right: 20%;
  }

}
