html {
  font-family: 'Martel Sans', sans-serif;
}

img {
  width: 100%;
}

.banner {
  background:
    linear-gradient(to top, rgba(189, 156, 66, .7), rgba(16, 52, 41, 0)) no-repeat center bottom / 100% 85%,
    url("../images/banner-.jpg") no-repeat center top / cover;
    height: 25em;
}

.banner-content {
  width: 16em;
  bottom: 10%;
  right: 10%;
  margin-left: 15px;
}

.banner-content p {
  color: #fff;
}

nav li {
  text-align: center;
  cursor: pointer;
}

ol li {
  background-color: none;
  padding: 0;
}

.btn-nav {
  color: gray;
  border: none;
  text-decoration: none;
}
nav li a {
  display: block;
}

nav li:hover {
  background-color: gray;
}

nav li .btn-nav:hover {
  color: #fff;
}

nav li {
}

.logo-container {
  text-align: center;
}

@media only screen and (min-width: 25em) {

  .logo-container {
    text-align: left;
  }

  .banner-content {
    width: auto;
    max-width: 25em;
  }

}

@media only screen and (min-width: 38em) {

  nav {
    text-align: right;
  }

}

@media only screen and (min-width: 100em) {

  .banner-content {
    right: 20%;
  }

}
